<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form page</title>
    <!--<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'style.css')}}"> -->
    <link rel="stylesheet" href="static/style.css" class="text/css"> 
</head>
<body>
    <div class="login-box">
        <h2>Login</h2>
        <div class="textbox">
            <input type="text" placeholder="Username" name="Name" required = 'required'>
        </div>
        <div class="textbox">
            <input type="password" placeholder="Password" name="Pass" required = 'required'>
        </div>
        <input type="button" name="btn" value="sign in">
    </div>
</body>
</html>


<!--margin: 0;
padding: 0;
font-family: sans-serif;
background: rgb(214, 130, 175);
color: deeppink;
background-size: cover; **/
-->